body,
html{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}


main{
    display: grid;
    grid-template-rows: 10vh 1fr;
    padding: .6rem;
    gap:.6rem

}
input{
    padding: .6rem;
    font-size: 18px;

}
#quotes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

article{
    background-color: #333;
    padding: 1rem;
    height: 100px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 8px 2px lightgray;
    color: white;

}