body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial;
    scroll-snap-type: y mandatory;

}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    height: 100vh;
    place-items: center;
}

section{
    width: 30vw;
    height: 30vh;
    display: grid;
    margin: 0px auto;
    place-items: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    border: 1px solid white;
    background-size: cover;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 0.2em;
    border-width: 2px;
}
