
* {
    box-sizing:border-box;
}


main{
    display:grid;
    place-items:center;
}


.lastNed{
    background-image: url("./img/background1.jpg");
    height: 200vh;
    width: auto;
}

.knapp{
    background-color: white;
    border-radius: 1rem solid #CDCCEC;
    color: #5D5C79;

}



.plannen{
        display:grid;
        gap:1rem;
        padding:1rem;
        grid-auto-flow: column;
        justify-content: space-between;
        justify-content: space-around;
        justify-content: center;
        justify-content: end;
        justify-content: space-evenly;
    
        min-height:100vh;
        align-items: end;
        align-items:start;
        align-items: center;
          background: #4285f4;
          height: 100px;
          width: 100px;
    
          border-radius: 50%;
          display: grid;
          grid-auto-flow: column;
          place-items: center;
}